@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  margin: 30px;
}

h2{
    color: red;
}
img{
    border-radius: 10px;
}